<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BlazorApp</title>
    <link href="~/css/bundle.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>
    <script src="~/js/bundle.js"></script>
</body>
</html>