 @page "/pizzas/{pizzaname?}"
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavManager

<h1>Buy a Pizza</h1>

<p>I want to order a: @PizzaName</p>

<p>I want to add this topping: @ToppingName</p>

<button class="btn btn-outline-primary" @onclick="NavigateToPaymentPage">
	Buy this pizza!
</button>
<br/>
<br />
<NavLink href=@HomePageURI Match="NavLinkMatch.All">Home Page</NavLink>

@code {
	[Parameter]
	public string PizzaName { get; set; }

	private string ToppingName { get; set; }

	public string HomePageURI { get; set; }

	protected override void OnInitialized()
	{
		Uri uri = NavManager.ToAbsoluteUri(NavManager.Uri);

		string uri1 = NavManager.Uri;

		if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("extratopping", out var extraTopping))
		{
			ToppingName = System.Convert.ToString(extraTopping);
		}
		HomePageURI = NavManager.BaseUri;
	}

	private void NavigateToPaymentPage()
	{
		NavManager.NavigateTo("buypizza");
	}
}